.searchResult {
   
    box-shadow: var(--box-shadow-xl);
    box-sizing: border-box;
    background: white;
    overflow: hidden;
    font-size: var(--fs-s);
    cursor: default;
    font-weight: 300;
    align-items: center;
    text-align: left;
    border-radius: 5px;
    margin: 3px;
    margin-right: 0px;
    width: 500px;
    min-width: 100%;
    text-decoration: none;    
    font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
.searchResult:hover {
    background: #ffec99;
}
.search-result-name {
    text-align: left;
    border-radius: 5px;
    width: 20rem;
    padding-left: 10px;
    font-size: 13pt;
    text-align: left;
    vertical-align: middle;  
    color: #000;
    
}

.search-result-location {
    text-align: right;
    border-radius: 5px;
    margin-right : 10px;
    width: auto;
    padding-right: 10px;
    color: #0069a6;
    vertical-align: middle;
    font-size: 10pt;
}

.search-result-date {
    text-align: left;
    border-radius: 5px;
    margin: 3px;
    width: 20rem;
    padding-left: 10px;
    color: #0069a6;
    font-size: 10pt;
}

.column {
    float: left;
    width: 50%;
    padding-bottom: 5px;
    margin-bottom: 5px;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }