.search-bar, .search-bar .card{
  position: relative;
  margin: 0 auto 0 auto;
  display: block;
  padding: 7px 0 3px 0;
  box-sizing: border-box;
  font-weight: 300;
  width: 30vw;
  min-width: 500px;
  cursor: text;
}


.input-text {
  width: 30vw;
  min-width: 500px;
  padding: 14px var(--space-l);
  border-style: none;
  border-radius: var(--r-m);
  color: var(--co-text);
  background: linear-gradient(to top,rgba(179,179,179,.1),rgba(179,179,179,.05)) no-repeat,var(--co-back-dim);
  font-size: 15pt;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  box-shadow: inset 2px 2px 0 0 rgb(0 0 0 / 15%), inset -1px -1px 0 0 rgb(255 255 255 / 50%);
  appearance: none;
  overflow: visible;
  margin: 0;
  writing-mode: horizontal-tb !important;
}
.input-text:active {
  background: var(--yellow-lightest);
}
.input-text:hover {
  background: var(--yellow-lightest);
}

.scrollable-div {
  margin-top: 3px;
  border-radius: 5px 0 0 5px;
  height: 35vh;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: justify;
  padding: 0px;
  min-width: 500px;
}
