.search-result{
    background-color: var(--white);
    box-shadow: var(--box-shadow-xl);
    padding: 5px 10px;
}

.search-result:hover {
    background: var(--yellow-lightest);
}

.card-text {
    display: flex;
    flex-direction: row;
    width: 25vw;
    justify-content: space-between;
}

.row{
    display: flex;
    flex-direction: column;
}

p{
    text-decoration: none;    
    font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    color: var(--black);
    margin: auto 0;
}

.search-result-name{
    text-decoration: none;    
    font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 15pt;
    color: var(--black);
    margin: 3px 0;
    margin-left: 10px;
}

.search-result-date{
    margin-left: 10px;
}


.search-result-city{
    text-transform: lowercase;
    font-size: 13pt;
    margin-right: 10px;
}

.search-result-city::first-letter{
    text-transform: uppercase;
}
