@import "variables.css";

.card-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  width: 20vw;
  height: 204px;
  padding: 8px;
  background-color: var(--grey-darkest);
  margin: 20px;

  max-width: 100%; /* [1] */
  border-radius: 6px;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.12), 0 0 2px rgba(0, 0, 0, 0.1);
  color: #243846;
  background-color: #fff;
  transition: 0.25s box-shadow cubic-bezier(0.645, 0.045, 0.355, 1);
}

.card-grid h1 {
  font-size: 24px;
  color: black;
}

.card-grid p {
  font-size: 18px;
}
