.category-title {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    padding: 10px 0;
    overflow: hidden;
    width: 88.5vw;
    margin: auto;
}

.cat-title{
    font-weight: 350;
    min-width: fit-content;
    color: var(--blue-lightest);
    font-size: 36pt;
    bottom: 0;
    margin: 0 50px 0 0.5%;
    cursor: default;
}

.cat-title::first-letter{
    text-transform: uppercase;
}

.cat-tags{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    justify-content: center;  
}
.cat-tags::-webkit-scrollbar {
    display: none;
}

.cat-tags button {
    min-width: fit-content;
    margin: 25px 5px auto;
    border: none;
    border-radius: var(--r-xl);
    background-color: var(--co-accent);
    color: white;
    overflow: hidden;
    white-space: nowrap;
    text-decoration: 0;
    border: none;
    font-size: 10.5pt;
    box-shadow: var(--box-shadow-s);
    cursor: pointer;
    padding: 6px 8px;
    letter-spacing: 0.35px;
}

.category-title button:hover{
    color: var(--co-accent-text);
    background: var(--co-accent-dark);
    box-shadow: var(--box-shadow-s);
}

/*.more-container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 8px;
    margin-top: 10px;
}

.more{
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0.6em 1.1em;
    border: none;
    border-radius: var(--r-xl);
    font: normal normal 400 var(--fs-s)/var(--lh-xl) var(--roboto);
    text-align: center;
    text-decoration: none;
    color: var(--co-accent);
    background: var(--co-back-dim);
    box-shadow: var(--box-shadow-s),var(--inset-shadow);
    cursor: pointer;
    white-space: nowrap;
    letter-spacing: var(--ls--s);
}*/

@font-face{
    font-family:"revicons";
    fallback:fallback;
    src:url("./revicons.woff") format('woff'),url("./revicons.ttf") format('ttf'),url("./revicons.eot") format('ttf')
}

/*Carousel*/
.react-multi-carousel-list{
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    margin: auto;
    margin-top: 0px;
    max-width: 92vw;
}

/*ul*/
.react-multi-carousel-track{
    list-style: none;
    margin: auto;
    display: flex;
    flex-direction: row;
    position: relative;
    transform: translate3d(0px, 0px, 0px);
    backface-visibility: hidden;
}

/*li*/
.react-multi-carousel-item{
    transform-style: preserve-3d;
    backface-visibility: hidden;
    width: 100%;
    padding: 8px 8px 8px 7px;
    margin-bottom: 50px;
    min-width: 360px;
    max-width: 425px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    margin: auto auto 50px auto;
}

.react-multiple-carousel__arrow{
    position: absolute;
    display: block;
    width: 48px;
    height: 48px;
    padding: 2px 0 0;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    color: var(--co-accent);
    box-shadow: var(--box-shadow-s),inset 0 -1em 1em -0.2em rgba(72,92,106,.05);
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    opacity: .6;
    transition: opacity var(--timing-fast) var(--ease-cubic),box-shadow var(--timing-fast) var(--ease-cubic),transform var(--timing-fast) var(--ease-cubic);
    outline: 0;
    margin-bottom: 48px;
}

.react-multiple-carousel__arrow:hover{
    box-shadow: var(--box-shadow-l);
    opacity: 1;
}

.react-multiple-carousel__arrow::before{
    font-family: var(--roboto-mono);
    font-size: 38px;
    text-align: center;
    line-height: .2;
}

.react-multiple-carousel__arrow:disabled{
    cursor:default;
    background:rgba(0,0,0,0.5);
}

.react-multiple-carousel__arrow--left{
    left: 0;
    text-indent: 4px;
}

.react-multiple-carousel__arrow--left::before{
    content: '‹';
}

.react-multiple-carousel__arrow--right{
    right: 0;
    text-indent: -4px;
}

.react-multiple-carousel__arrow--right::before{
    content: '›';
}

/*ul*/
.react-multi-carousel-dot-list{
    position:absolute;
    bottom: 0px;
    display:flex;
    left: 0;
    right: 0;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

.react-multi-carousel-dot{
    position: relative;
    padding: 0 2px;
}

.react-multi-carousel-dot button{
    font-size: 0;
    line-height: 0;
    display: block;
    width: 44px;
    height: 44px;
    padding: 0;
    border: 0;
    color: inherit;
    background: 0 0;
    cursor: pointer;
}

.react-multi-carousel-dot button::before{
    position: absolute;
    top: 8px;
    left: 19px;
    content: '•';
    color: inherit;
    font-size: 28px;
    line-height: 1em;
    opacity: .25;
}

.react-multi-carousel-dot button:hover:active{
    opacity: 1;
    
}

.react-multi-carousel-dot--active button::before{
    opacity: 1;
}




@media all and (-ms-high-contrast:none),(-ms-high-contrast:active)
{
    .react-multi-carousel-item{
        flex-shrink: 0 !important;
    }
}