.cat-title{
    font-weight: 300;
    color: var(--blue-lightest);
    font-size: 30pt;
    margin: auto 10px 10px 10px;
}

.cat-title::first-letter{
    text-transform: uppercase;
}

.category-title {
    display: flex;
    flex-direction: row;
    margin-top: 55px;
}

.category-title button {
    margin: auto 10px 15px 10px;
    min-width: 45px;
    height: 30px;
    border: none;
    border-radius: var(--r-xl);
    background-color: var(--co-accent);
    color: white;
    overflow: hidden;
    white-space: nowrap;
    text-decoration: 0;
    border: none;
    font-size: .85em;
    box-shadow: var(--box-shadow-s);
    cursor: pointer;
    padding: 5px;
    letter-spacing: 0.35px;
}

.category-title button:hover{
    color: var(--co-accent-text);
    background: var(--co-accent-dark);
    box-shadow: var(--box-shadow-s);
    }

@font-face{
    font-family:"revicons";
    fallback:fallback;
    src:url("./revicons.woff") format('woff'),url("./revicons.ttf") format('ttf'),url("./revicons.eot") format('ttf')
}

.list-group-item{
    width: 90vw;
    margin: 0 auto;
}

/*Carousel*/
.react-multi-carousel-list{
    display:flex;
    align-items:center;
    overflow:hidden;
    position:relative;
    margin: auto;
    margin-top: 0px;
    /*max-width: 90vw;*/
}

/*ul*/
.react-multi-carousel-track{
    list-style:none;
    padding:0;
    margin:0;
    display:flex;
    flex-direction:row;
    position:relative;
    transform: translate3d(0px, 0px, 0px);
    backface-visibility:hidden;
    /*will-change:transform,transition;*/
}

.react-multiple-carousel__arrow{
    position:absolute;
    display: block;
    width: 48px;
    height: 48px;
    padding: 2px 0 0;
    cursor: pointer;
    border: none;
    border-radius:50%;
    color: var(--co-accent);
    box-shadow: var(--box-shadow-s),inset 0 -1em 1em -0.2em rgba(72,92,106,.05);
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    opacity: .6;
    transition: opacity var(--timing-fast) var(--ease-cubic),box-shadow var(--timing-fast) var(--ease-cubic),transform var(--timing-fast) var(--ease-cubic);
    outline:0;
}

.react-multiple-carousel__arrow:hover{
    box-shadow: var(--box-shadow-l);
    opacity: 1;
}

.react-multiple-carousel__arrow::before{
    font-family: var(--roboto-mono);
    font-size: 38px;
    text-align:center;
    line-height: .2;
}

.react-multiple-carousel__arrow:disabled{
    cursor:default;
    background:rgba(0,0,0,0.5);
}

.react-multiple-carousel__arrow--left{
    left: 0;
    text-indent: 4px;
}

.react-multiple-carousel__arrow--left::before{
    content:'‹';
}

.react-multiple-carousel__arrow--right{
    right: 0;
    text-indent: -4px;
}

.react-multiple-carousel__arrow--right::before{
    content:'›';
}

.react-multi-carousel-dot-list{
    position:absolute;
    bottom: -20px;
    display:flex;
    left:0;
    right:0;
    justify-content:center;
    margin:auto;
    padding:0;
    list-style:none;
    text-align:center;
}

.react-multi-carousel-dot button{
    display:inline-block;
    width:12px;
    height:12px;
    border-radius:50%;
    opacity:1;
    padding:5px 5px 5px 5px;
    box-shadow:none;
    transition: .5s;
    border-width:2px;
    border-style:solid;
    border-color:grey;
    padding:0;
    margin:0;
    margin-right:6px;
    outline:0;
    cursor:pointer;
}

.react-multi-carousel-dot button:hover:active{
    background:#080808;
}

.react-multi-carousel-dot--active button{
    background:#080808;
}

/*li*/
.react-multi-carousel-item{
    transform-style:preserve-3d;
    backface-visibility:hidden;
    width: 100%;
    /*max-width: 28rem;
    min-width: 25rem;
*/}



@media all and (-ms-high-contrast:none),(-ms-high-contrast:active)
{
    .react-multi-carousel-item{
        flex-shrink:0 !important;
    }
}